.currency-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table-list Th{
    border: 1px  solid rgba(230, 231, 230, 0.712);
    border-top: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(170, 169, 169);
    border-left: none;
    
}
.table{
    background-color: rgb(255, 251, 247);
    padding: 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.ticker{
    color: #45a9ec;
    font-weight: 600;
}
.chg, .ask{
    color: black;
}
.chg1{
    color: rgb(10, 194, 178);
    font-weight: 400;
}
.currency-head{
    color: #101010;
text-align: center;
font-size: 44px;
font-style: normal;
margin-top: 30px;
font-weight: 700;
text-transform: capitalize;
margin-bottom: 20px;
}
.currency-p{
    color: #101010;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.currency-pagebtn{
    display: flex;
padding: 15px 30px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
border-radius: 100px;
color: white;
font-size: 22px;
background: #5CB3FF;
margin-bottom: 40px;
}
