.pat{
    width: 100%;
    display: flex;
height: auto;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(236deg, #728FCE 30.33%, #7281CE 44.65%, #728FCE 63.92%);
}
.image-container {
    position: relative;
    width: 100%;
    height: auto; /* Set the height according to your needs */
  }
  
  .background-image {
    width: 100%;
    height: auto;
    background-size: cover;
    background: linear-gradient(236deg, #728FCE 30.33%, #7281CE 44.65%, #728FCE 63.92%);
}
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    display: flex;
    width: 75%;
    height: 470px;
    align-items: center; 
    justify-content: space-between;
  }
  .educational-text{
    width: 40%;
    height: auto;
  }
  .educational-img{
    height: auto;
    width: 55%;
  }
  .ed-head{
    color: #FFF;
font-size: 44px;
text-align: start;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.96px;
  }
  .ed-p{
color: #FFF;

font-size: 16px;
font-style: normal;
font-weight: 400;
text-align: start;
margin-top: 30px;
line-height: 140%;
  }
  @media (max-width:768px){
    .overlay-text {
        top: 30%;
        width: 100%;
        flex-direction: column;
        bottom: 10%;
      }
      .background-image {
        width: 100%;
        height: 90vh;
        background-size: cover;
        background: linear-gradient(236deg, #728FCE 30.33%, #7281CE 44.65%, #728FCE 63.92%);
    }
     
      .educational-text{
        width: 90%;
        height: auto;
      }
      .educational-img{
        width: 90%;
        margin-left: 10px;
        margin-top: 30px;
      }
      .man{
        width: 100%;
      }
  }